<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <style>
        input {
            width: 15%;
        }

        button.visible {
            display: inline-block;
            cursor: pointer;
            width: 16%;
        }

        button.hidden {
            display: none;
            width: 16%;
        }

    </style>
</head>
<body>
<h1>Account creation form</h1>
<h3>List of unavailable usernames:</h3>
<ul>
    <li th:each="userName: ${userNames}">
        <span th:text="${userName.toString()}"></span>
    </li>
</ul>
<form name="form" th:action="@{/index}" method="POST">

    <label for="userName">Username</label><br>
    <input type="text" id="userName" name="userName" autocomplete="off" onkeyup="echoName(this.value);"/>
    <span>The username entered is "<span id="outUsername"></span>"</span>
    <span id="free">, which is not available</span><br><br>

    <label for="password">Password<br>(minimum 4 characters)</label><br>
    <input type="password" id="password" name="password" autocomplete="off" onkeyup="echoPass(this.value);"/>
    <span>The password entered is "<span id="outPassword"></span>"</span>
    <span id="length">, which is too short</span><br><br>

    <label for="password2">Retype Password</label><br>
    <input type="password" id="password2" name="password2" autocomplete="off" onkeyup="passCheck();"/>
    <span id="check"></span><br><br><br>

    <button id="resetButton" class="visible" type="button" onclick="resetForm()">Reset form</button>
    <button id="submitButton" class="hidden" type="submit" onclick="location.href='../index'">Create account</button>

</form>
<script th:inline="javascript">
    let uname = false;
    let upass = false;
    let check = false;

    function echoName(value) {
        document.getElementById('outUsername').innerHTML = value;
        let names = [[${userNames}]];
        if (names.includes(value)) {
            document.getElementById("free").innerHTML = ", which is not available";
            uname = false;
        } else {
            document.getElementById("free").innerHTML = ", which is available";
            uname = true;
        }
        showSubmit();
    }

    function echoPass(value) {
        document.getElementById("outPassword").innerHTML = value;
        if (value.length < 4) {
            document.getElementById("length").innerHTML = ", which is too short";
            upass = false;
        } else {
            document.getElementById("length").innerHTML = ", which is ok";
            upass = true;
        }
        passCheck();
        showSubmit();
    }

    function passCheck() {
        if (document.form.password.value === document.form.password2.value) {
            document.getElementById("check").innerHTML = " OK";
            check = true;
        } else {
            document.getElementById("check").innerHTML = " passwords don't match";
            check = false;
        }
        showSubmit();
    }

    function showSubmit() {
        if (uname && upass && check) {
            document.getElementById("submitButton").className = "visible";
        } else {
            document.getElementById("submitButton").className = "hidden";
        }
    }

    function resetForm() {
        document.form.userName.value = "";
        echoName("");
        document.form.password.value = "";
        echoPass("");
        document.form.password2.value = "";
        passCheck("");
        showSubmit();
    }
</script>
</body>
</html>
